rag-workflow-template.json
{
  "name": "Client Name | RAG Agent",
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data || $json.concatenated_pages }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "=file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "9a3cf7f9-473d-471d-bb66-3fcde7b0cdc3",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        5776,
        1744
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "2f0b5ba7-3c92-45ac-bd43-487cc4e3e9e3",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        5632,
        1744
      ],
      "credentials": {
        "openAiApi": {
          "id": "VMQQKwOxBoE24xrO",
          "name": "TEST - Russ's API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 469,
        "width": 727,
        "color": 4
      },
      "id": "2950e074-aa7c-4792-aced-c18ed2c104fb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2112,
        528
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "=text/csv"
            }
          }
        }
      },
      "id": "bd2e6c8c-d77e-41a4-a6a9-5b0a2a5ebe76",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4176,
        1536
      ],
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2zqERvuKImxXq1Bz",
          "name": "ClearlightAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "19d0d879-9207-49e6-8528-991de9e62148",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "5cebc1d0-b2c3-4358-bf36-603b5242940e",
              "name": "createdAt",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "feaf7815-9c06-45f8-b06b-33886ff92e75",
              "name": "modifiedAt",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "533866c0-5db8-433f-8797-0e016bd91bd6",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        1536
      ]
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 481,
        "width": 764
      },
      "id": "99526a0d-404d-418e-b25d-490cdf63eb24",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        528
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "82b0ba78-3532-48d7-9b04-094a41fd4d64",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2624,
        592
      ]
    },
    {
      "parameters": {
        "separator": "= ",
        "chunkOverlap": 200
      },
      "id": "dbd99be5-ccc6-410e-a581-6bdb49c7fddc",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        5760,
        1904
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gdoc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "ed23d997-d717-4ed0-b2c3-c3bc65490226",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "=application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3bf90afd-bc03-49e3-8c21-72e4a6669878",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TXT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c88c9f6c-eb51-4998-87c0-720346364817"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "327acfd3-2484-4f62-8cbc-2d5ed12010c0",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text/rtf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RTF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2e742daa-6908-47be-b9ac-f4c974128dec",
                    "leftValue": "{{ $binary.data.mimeType }}",
                    "rightValue": "application/x-vnd.oasis.opendocument.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ODF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d2e50357-8e75-4898-876e-7f544edc6de1",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PPT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "5e6dced7-2bd0-4481-89d2-0d3c55c4ac94",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/vnd.google-apps.presentation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gslides"
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "54a49686-f3c0-4a83-85ea-2ef45702dbfc",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        4400,
        1440
      ]
    },
    {
      "parameters": {
        "content": "## Run Each Node Once to Set Up Database Tables",
        "height": 300,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        1920
      ],
      "typeVersion": 1,
      "id": "fe4bff75-ad35-42d7-b4d3-cfefa4e984af",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2832,
        1536
      ],
      "id": "a7d6a564-80fb-4b67-90f8-52b8203cb071",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE [PREFIX]_document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    fileType text,\n    created_at TIMESTAMPTZ DEFAULT NOW(),\n    modified_at TIMESTAMPTZ\n);\n\nALTER TABLE [PREFIX]_document_metadata ENABLE ROW LEVEL SECURITY;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        2000
      ],
      "id": "0b0668c9-fdbd-4088-bbec-3f3ecffe7166",
      "name": "Create Document Metadata Table",
      "credentials": {
        "postgres": {
          "id": "Xx9V7I8lcRqI2Rz5",
          "name": "ClearLightAI Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Enable the pgvector extension to work with embedding vectors\nCREATE EXTENSION IF NOT EXISTS vector;\n\n-- Create a table to store your documents\nCREATE TABLE [PREFIX]_documents (\n  id BIGSERIAL PRIMARY KEY,\n  dataset_id TEXT REFERENCES [PREFIX]_document_metadata(id),\n  content TEXT, -- corresponds to Document.pageContent\n  metadata JSONB, -- corresponds to Document.metadata\n  embedding VECTOR(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Add index if missing\nCREATE INDEX IF NOT EXISTS [PREFIX]_documents_embedding_idx \nON [PREFIX]_documents \nUSING hnsw (embedding vector_cosine_ops)\nWITH (m = 16, ef_construction = 64);\n\n-- Enable RLS on documents table\nALTER TABLE [PREFIX]_documents ENABLE ROW LEVEL SECURITY;\n\n-- Improved function with threshold\nCREATE OR REPLACE FUNCTION match_[PREFIX]_documents (\n  query_embedding VECTOR(1536),\n  match_count INT DEFAULT 40,\n  filter JSONB DEFAULT '{}'\n) RETURNS TABLE (\n  id BIGINT,\n  content TEXT,\n  metadata JSONB,\n  similarity FLOAT\n)\nLANGUAGE plpgsql\nAS $$\n#variable_conflict use_column\nDECLARE\n  similarity_threshold FLOAT := 0.25;\nBEGIN\n  RETURN QUERY\n  SELECT\n    documents.id,\n    documents.content,\n    documents.metadata,\n    1 - (documents.embedding <=> query_embedding) AS similarity\n  FROM [PREFIX]_documents\n  WHERE documents.metadata @> filter\n    AND 1 - (documents.embedding <=> query_embedding) > similarity_threshold\n  ORDER BY documents.embedding <=> query_embedding\n  LIMIT match_count;\nEND;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        2000
      ],
      "id": "e52a00ff-dd49-4d62-9685-2e9492bbacec",
      "name": "Create Documents Table and Match Function",
      "credentials": {
        "postgres": {
          "id": "Xx9V7I8lcRqI2Rz5",
          "name": "ClearLightAI Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "Change the API key on the LLM to ensure that you can track usage across each bot\nGo through each node and check new Supabase credentials (map project and tables)\n\nDuplicate the Worflow\nSet up a new Supabase\nGenerate the tables\nUpdate the Supabase credentials\nDo the document loading\n",
        "height": 231,
        "width": 353,
        "color": 7
      },
      "id": "adaf6c7c-80b3-4a63-bb6d-ace9450a21a6",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2496,
        256
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "tableName": "[PREFIX]_n8n_chat_histories"
      },
      "id": "5e2f53c2-3068-4373-9404-8c2b724b2843",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        1952,
        832
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "Xx9V7I8lcRqI2Rz5",
          "name": "ClearLightAI Supabase"
        }
      },
      "notes": "{{ $('Webhook').item.json.body.session_id }}"
    },
    {
      "parameters": {
        "topN": 6
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        2496,
        800
      ],
      "id": "1a57dac8-12a5-4368-8e20-3dc0134a0b50",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "TV8PHcgFezu7BfH2",
          "name": "CohereApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2336,
        848
      ],
      "id": "5b730d81-24c9-430f-9f26-b24f33af3c43",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VMQQKwOxBoE24xrO",
          "name": "TEST - Russ's API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Data Ingestion`",
        "height": 1184,
        "width": 5104,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        1040
      ],
      "typeVersion": 1,
      "id": "4018eabf-6b20-4e12-b3c7-7b1e8c14509d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1f1fd34-d2d2-43b3-bd2e-cf324f4a0b93",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}{{ $json.body.message}}",
              "type": "string"
            },
            {
              "id": "70479c5f-5522-4df3-aaf0-e7b540209293",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}{{ $json.body.chatId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        672
      ],
      "id": "cad48afe-91fa-46b7-8335-f3bcd253079c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://v2.convertapi.com/convert/pptx/to/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convertApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "File",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4816,
        1904
      ],
      "id": "f5db2761-d290-4d80-864c-0b969e7631ba",
      "name": "ConvertAPI HTTP Request",
      "extendsCredential": "convertApi",
      "credentials": {
        "convertApi": {
          "id": "1uAmH4w7gh8g4Ijq",
          "name": "ConvertAPI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        5152,
        1520
      ],
      "id": "287d447b-6cd5-460c-9ac6-7608e487f484",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "Files[0].FileData",
        "options": {
          "fileName": "={{ $json.Files[0].FileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4992,
        1904
      ],
      "id": "d973036a-45a4-40c0-8e07-7f2d6e1a10ec",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "content": "## Delete Vectors\n",
        "height": 224,
        "width": 1536,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        1920
      ],
      "typeVersion": 1,
      "id": "a8ae706c-cc95-4a46-b93b-cb00a1d6af6b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "rtf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        5152,
        1808
      ],
      "id": "6f145f53-adbd-45cc-9832-d3cbc8917c8f",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "[PREFIX]_document_metadata",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Set File ID').item.json.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3856,
        1536
      ],
      "id": "5d3378cf-3d94-4bf8-95ed-9b369a9fa113",
      "name": "Delete Metadata",
      "credentials": {
        "postgres": {
          "id": "Xx9V7I8lcRqI2Rz5",
          "name": "ClearLightAI Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "[PREFIX]_documents",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $('Set File ID').item.json.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3680,
        1536
      ],
      "id": "dd454ad0-bde7-459b-9767-6bc0fe0af8ab",
      "name": "Delete Document Rows",
      "credentials": {
        "postgres": {
          "id": "Xx9V7I8lcRqI2Rz5",
          "name": "ClearLightAI Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "[PREFIX]_document_metadata",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}",
            "created_at": "={{ $('Set File ID').item.json.createdAt }}",
            "modified_at": "={{ $('Set File ID').item.json.modifiedAt }}",
            "filetype": "={{ $('Get File Information').item.json.mimeType }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "filetype",
              "displayName": "filetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "modified_at",
              "displayName": "modified_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4016,
        1536
      ],
      "id": "c88a07a3-10ff-4f98-a927-f0b296309ed1",
      "name": "Insert Document Metadata",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "Xx9V7I8lcRqI2Rz5",
          "name": "ClearLightAI Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        5152,
        1376
      ],
      "id": "1290a225-099d-4711-8b53-ae7857f477b0",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "jsCode": "const newItem = { ...items[0] };\nconst originalFileName = items[0].binary.data.fileName || \"presentation\";\n\nnewItem.binary = {\n  data: {\n    ...items[0].binary.data,\n    fileName: `${originalFileName.replace(/\\.[^/.]+$/, \"\")}.pptx`\n  }\n};\nreturn [newItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4656,
        1904
      ],
      "id": "8fb15643-572d-48ae-b756-b727d7d7083f",
      "name": "Add file extension"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE [PREFIX]_documents\nSET dataset_id = metadata->>'file_id'\nWHERE metadata ? 'file_id'\n  AND dataset_id IS NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6112,
        1504
      ],
      "id": "32be4a2d-739e-45d5-bb16-3b8ffd309289",
      "name": "Update Dataset Id fields",
      "credentials": {
        "postgres": {
          "id": "Xx9V7I8lcRqI2Rz5",
          "name": "ClearLightAI Supabase"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "[GOOGLE_DRIVE_FOLDER_ID]",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        2272,
        1248
      ],
      "id": "5ce7fd84-3e66-475a-a72a-4083155b6f95",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2zqERvuKImxXq1Bz",
          "name": "ClearlightAI"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1072,
        1536
      ],
      "id": "2b7f1f47-38d3-4d64-a5fc-01a97a82cef4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "[GOOGLE_DRIVE_FOLDER_ID]",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        1424
      ],
      "id": "4e5dc842-dd8a-45bf-bb06-23375d6a3c4e",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2zqERvuKImxXq1Bz",
          "name": "ClearlightAI"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2080,
        1600
      ],
      "id": "a26ff8c3-2e53-4b32-90a5-d662f9ffadae",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "917bc75b-dd3d-4a8f-b000-c9e8cc62aaf2",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6dd22c23-88af-4c1e-bdb6-b3f1e90e6fad",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        1424
      ],
      "id": "88adc17f-00dc-4e8d-b374-079b343267e4",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "zB25hlqGrzvd2kQm",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "file_id",
              "keyValue": "={{ $json.file_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.file_id }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3472,
        1536
      ],
      "id": "42ff24d7-7729-4b62-bda1-bee27913c05d",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Extract the delete array from the input\nconst ingestFiles = items[0].json.ingest || [];\n\n// Create separate JSON objects for each file in delete array\nconst result = ingestFiles.map(file => ({\n  json: {\n    file_id: file.file_id\n  }\n}));\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        1600
      ],
      "id": "e181fec7-c021-44d6-a6d8-85a6edefb632",
      "name": "Filter files(Ingest)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Extract the delete array from the input\nconst deleteFiles = items[0].json.delete || [];\n\n// Create separate JSON objects for each file in delete array\nconst result = deleteFiles.map(file => ({\n  json: {\n    file_id: file.file_id\n  }\n}));\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1968
      ],
      "id": "25026666-4cff-40d8-a32a-dcaba2f165f1",
      "name": "Filter files(Delete)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2448,
        1968
      ],
      "id": "c89533b3-57fe-4de1-8050-c44773d19431",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fileIdsDrive = items[0].json.fileIdsDrive || [];\nconst fileIdsTable = items[1].json.fileIdsTable || [];\n\n// Find files that need to be INGESTED to Table (in Drive but not in Table)\nconst filesToIngest = fileIdsDrive\n  .filter(fileId => !fileIdsTable.includes(fileId))\n  .map(fileId => ({ file_id: fileId }));\n\n// Find files that need to be DELETED from Table (in Table but not in Drive)\nconst filesToDelete = fileIdsTable\n  .filter(fileId => !fileIdsDrive.includes(fileId))\n  .map(fileId => ({ file_id: fileId }));\n\n// Return both arrays\nreturn [\n  {\n    json: {\n      ingest: filesToIngest,\n      delete: filesToDelete\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        1600
      ],
      "id": "332e8fce-b80a-4452-bdd0-27cc735051ff",
      "name": "Compare file ids"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst fileIds = items.map(item => item.json.id);\n\n// Return the array of file_ids\nreturn [{\n  json: {\n    fileIdsTable: fileIds,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        1728
      ],
      "id": "1ad6b266-d5bc-4d36-9388-31d50675452b",
      "name": "Combine file ids"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst ids = items.map(item => item.json.id);\nreturn [{\n  json: {\n    fileIdsDrive: ids\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1472
      ],
      "id": "4298c262-3bf4-4910-9754-6ac4e8ce7a81",
      "name": "Combine file ids1"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.file_id }}?fields=id,name,mimeType,createdTime,modifiedTime,size,owners,permissions,webViewLink,thumbnailLink,version",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3072,
        1536
      ],
      "id": "6a7d645e-8c34-4275-a7a5-e69f7ae2fd48",
      "name": "Get File Information",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2zqERvuKImxXq1Bz",
          "name": "ClearlightAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.flashpdf.app/convert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "fp_live_d10557f18c36453d9a97e630930ffa59a3e5c4312505015b9bc31f43b3a3173c"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5152,
        1664
      ],
      "id": "87271dd6-d4e0-490b-bfc8-a523708a3ac4",
      "name": "flash pdf api"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# ROLE\nYou are an expert assistant designed to help users understand and work with information from the knowledge base. Your role is to provide accurate, helpful responses based on the documents and data available.\n\n# TOOL USE\n- Use RAG search to find relevant document chunks and information\n- Reference specific documents and sections when applicable\n- If information isn't in the knowledge base, acknowledge the limitation\n- Prioritize accuracy over speculation\n\n# OUTPUT FORMAT\n- Provide clear, actionable responses\n- Use a professional and helpful tone\n- Include relevant examples and references from the knowledge base\n- Cite sources when referencing specific documents",
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1808,
        592
      ],
      "id": "c3075ba7-e6b9-465b-a6c2-f52fadcaba21",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "[PREFIX]_document_metadata",
          "mode": "list"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2688,
        1984
      ],
      "id": "26423a62-fdb1-4898-9c29-d2689f3da12a",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "Xx9V7I8lcRqI2Rz5",
          "name": "ClearLightAI Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "[PREFIX]_documents",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "dataset_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2912,
        1984
      ],
      "id": "50ee5b81-37b2-4f0c-bc11-6960d8b0557d",
      "name": "Delete Document Rows1",
      "credentials": {
        "postgres": {
          "id": "Xx9V7I8lcRqI2Rz5",
          "name": "ClearLightAI Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "[PREFIX]_document_metadata",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Select rows from a table').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3104,
        1984
      ],
      "id": "5659c3fd-fd5d-4d73-b094-69a20cfb3334",
      "name": "Delete Metadata1",
      "credentials": {
        "postgres": {
          "id": "Xx9V7I8lcRqI2Rz5",
          "name": "ClearLightAI Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "735f6a70-e4e3-41e6-ae52-3782650f3164",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1344,
        832
      ],
      "id": "9ea6c04d-3e9b-463d-8ff0-0c16334ccfac",
      "name": "Webhook",
      "webhookId": "735f6a70-e4e3-41e6-ae52-3782650f3164"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "[PREFIX]_documents",
          "mode": "list",
          "cachedResultName": "[PREFIX]_documents"
        },
        "embeddingBatchSize": 128,
        "options": {
          "queryName": "match_[PREFIX]_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        5728,
        1504
      ],
      "id": "757bebc8-7e0c-4f31-ace7-fac88e30da39",
      "name": "Upsert to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "NMviaUEBSOqGLAYQ",
          "name": "ClearLightAI Supabase on Railway"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to do RAG search for relevant document chunks. Metadata includes File_ID for use with Get File Contents to retrieve full [PREFIX]_documents text.",
        "tableName": {
          "__rl": true,
          "value": "[PREFIX]_documents",
          "mode": "list",
          "cachedResultName": "[PREFIX]_documents"
        },
        "topK": 50,
        "useReranker": true,
        "options": {
          "queryName": "match_[PREFIX]_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2240,
        624
      ],
      "id": "47ddbb1a-f35e-4367-a168-25c5dee8dd74",
      "name": "Vector Search Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "NMviaUEBSOqGLAYQ",
          "name": "ClearLightAI Supabase on Railway"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1680,
        832
      ],
      "id": "2cb8b64f-9b5c-4d94-961b-a52adf9818cc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "eE6fefrEPDwyf9Fj",
          "name": "Clearlight on Stephen's OpenRouter Account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "a208ded8-957a-434f-8de4-74990d97bcb8",
      "name": "GPT-4.1-Mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1808,
        832
      ],
      "credentials": {
        "openAiApi": {
          "id": "SExtJEtnEJWIMmWQ",
          "name": "ClearlightAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c340a571-ba5f-48ae-ab65-8ee9fb7d1941",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        1344
      ],
      "id": "c0860d34-2317-422d-bf8d-570f52e98832",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "917bc75b-dd3d-4a8f-b000-c9e8cc62aaf2",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6dd22c23-88af-4c1e-bdb6-b3f1e90e6fad",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        1232
      ],
      "id": "07ff92af-456a-4260-bf99-0b85538dcdef",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nWelcome to the Knowledge Base Assistant!",
        "options": {
          "allowFileUploads": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1344,
        640
      ],
      "id": "3716b8e1-cce6-44e1-a58f-c334827d327d",
      "name": "When chat message received",
      "webhookId": "3b64b612-e59a-4f59-9508-699c95140c43"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "[PREFIX]_document_metadata",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1520,
        1728
      ],
      "id": "248b5b44-8d91-4396-99e2-6ee2bc389cb6",
      "name": "Get existing documents metadata",
      "credentials": {
        "supabaseApi": {
          "id": "NMviaUEBSOqGLAYQ",
          "name": "ClearLightAI Supabase on Railway"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "[GOOGLE_DRIVE_FOLDER_ID]",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        1232
      ],
      "id": "7c061caf-3d60-424d-90f5-80afa367d7bc",
      "name": "First Ingest",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2zqERvuKImxXq1Bz",
          "name": "ClearlightAI"
        }
      }
    },
    {
      "parameters": {
        "content": "# Version Notes\n\n* Currently does NOT work with Gdoc or Docx files (need to troubleshoot why they are not handled correctly)\n* Manual sync successfully checks if file already exists and does not ingest again if so\n* Should trigger daily on updated files and re-ingest only updated",
        "height": 592,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        800
      ],
      "typeVersion": 1,
      "id": "c52170fc-cbc3-4846-b8b1-88afe90b1add",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "flash pdf api",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Dataset Id fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add file extension",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add file extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get File Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Vector Search Supabase",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Vector Search Supabase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ConvertAPI HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Metadata": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Document Rows": {
      "main": [
        [
          {
            "node": "Delete Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add file extension": {
      "main": [
        [
          {
            "node": "ConvertAPI HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get existing documents metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Combine file ids1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Compare file ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Delete Document Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter files(Delete)": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter files(Ingest)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare file ids": {
      "main": [
        [
          {
            "node": "Filter files(Ingest)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter files(Delete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine file ids": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine file ids1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Information": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "flash pdf api": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Delete Document Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Document Rows1": {
      "main": [
        [
          {
            "node": "Delete Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Supabase": {
      "main": [
        [
          {
            "node": "Update Dataset Id fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Search Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-Mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Update Dataset Id fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get existing documents metadata": {
      "main": [
        [
          {
            "node": "Combine file ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Ingest": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a33438d0-80d9-4ec1-a7ae-a7326b6ee395",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21ec35e9083ea2a6452226fd7b8e28a4f9639782fad475beb1513da2e576ccad"
  },
  "id": "nUCpwF1RdPAaV4WW",
  "tags": [
    {
      "updatedAt": "2026-01-10T06:04:31.066Z",
      "createdAt": "2026-01-10T06:04:31.066Z",
      "id": "sW9LFIFOCuI74b1w",
      "name": "Staging"
    },
    {
      "updatedAt": "2026-01-10T06:29:31.902Z",
      "createdAt": "2026-01-10T06:29:31.902Z",
      "id": "W6ZX3McUUpSgzJsk",
      "name": "Widget"
    }
  ]
}